body {
  margin: 0;
}

.margen {
  margin: 100px;
}

.tabla {
  width: 100%;
  text-align: left;
}

.tabla td {
  padding-top: 10px;
  padding-bottom: 10px;
}

#menu {
  background-color: #253A46;
  padding: 20px;
  font-size: 20px;
}

#menu a {
  color: white;
  padding-right: 50px;
  text-decoration: none;
}

.center {
  text-align: center;
}

.rojo {
  color: red;
}

.publicacion {
  background-color: #fafafa;
  padding: 10px;
  margin: 8px;
  /* border-top: .12rem dashed #ccc; */
  border-radius: 8px;
  box-shadow: 0 0 8px 1px #ccc;
  cursor: pointer;
}

li {
  margin: 15px 0;
}